.calendar-admin-modal-btn{
    width: 100%;
    border-radius: 0 0 24px 24px;
    height: 50px;
    font-size: 16px;
    background-color:  #273650;
    position: fixed;
    bottom: 0;
    border: none;
    transform: translate(50%,50%);
    text-align: center;
    color:white;
    outline: none;
    transition: 0.5s;
}