.timeslot-list{
    justify-content: space-evenly;
    margin-top: 10px;
    .date-container{
        color: #273650;
        margin-bottom: 16px;
        background-color:rgba(236,236,236,0);
        .fully-booked{
            color: #b9b9b9;
            .fully-booked-title{
                font-size: 14px;
            }
        }
    }
}

