.time-slot-lists-container{
    max-height: 340px;
    margin-top: 1.3rem;
    .loaderContainer{
        height: 400px;
    }
}
// MATERIAL UI CLASSES
.MuiDialogActions-root{
    justify-content: space-between!important;
}


.calendar-picker-container{
    margin-bottom: 85px;
}


//   I phone 5
@media screen and (max-height: 570px) {
    .time-slot-lists-container{
        // width: 390px;
        max-height: 187px;
    }
  }

//   I phone 6-8 plus
@media screen and (max-height: 670px) and (min-height: 570px){
    .time-slot-lists-container{
        // width: 390px;
        max-height: 280px;
    }
  }

//   I phone x
@media screen and (min-height: 810px) {
    .time-slot-lists-container{
        // width: 390px;
        max-height: 415px;
    }
  }
