.signup-or-login-container{
    width: 100%;
    height:100%;
a{
    text-decoration: none;
}

.square{
    width: 100%;
    height: 50%;
}

.top-square{
  background-color: #fadee5; 
  .signUp-link-in-sign-up-or-login{
    width: 100%;
    height: 100%;
   font-size: 40px;
   color:#273650;
  }
}
.bottom-square{
background-color:#273650;
.login-link-in-sign-up-or-login{
    width: 100%;
    height: 100%;
    font-size: 40px;
    color:  #fadee5;
}
}
}

.fa-user-edit{
    font-size: 28px;
}

.fa-sign-in-alt{
    font-size: 30px;
}

.signup-or-login-text{
    margin-bottom: 14px;
}