@import url('https://fonts.googleapis.com/css?family=Aguafina+Script');
#text{
    font-family: "Aguafina Script", cursive;
    text-align: center;
    font-size: 25px;
    text-shadow: rgb(83, 83, 83) 2px 2px 2px;
}

.app-header {
    width: 100%;
    margin-block-end: 1rem;
    // box-shadow: 0px 1px 2px #00000033;
    .upper-header {
        justify-content: flex-end;
        height: 3rem;
        background-color:#e91e63;
        color: #f6f6f6;
        padding: 0 40px;
        h2{
           padding-top: 9px;
        }
    }
}

fieldset {
    border-color:#e91e63!important
}

.MuiInputBase-input {
    height: 5px!important;
}

//   I phone 5
@media screen and (max-height: 570px) {
    .app-header {
        .upper-header {

            padding: 0 24px;
        }
  }
}
