@font-face {
    font-family: Tinos;
    src: url('../fonts/static/Heebo-Regular.ttf');
  }

html {
    height: 100%;
    
}

* {
    box-sizing: border-box;
    font-family: Tinos;
}

:root {
    --color1: #273650;
    --color2: #ffe3ee;
    --color3: #f8ebed;
    --color4: #fadee5;
}

body {
    // color: var(--color1);
    color:var(--color1);
    margin: 0;
    font-size: 14px;
    background-color: rgba(236, 236, 236, 0.322);
    height: 100%;
    overflow: hidden;
    // background-image: url(../img/handlight.png);
    background-size: cover;
}


// @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
//     html {
//       transform: rotate(-90deg);
//       transform-origin: left top;
//       width: 100vh;
//       overflow-x: hidden;
//       position: absolute;
//       top: 100%;
//       left: 0;
//     }
//   }



