
// .ad-modal {
//     /* position: absolute; */
//     position: relative;
//     /* width: 82%; */
//     /* height: 25%; */
//     /* left: calc(50% - 300px); */
//     /* top: 17%; */
//     padding: 26px;
//     font-size: 18px;
//     z-index: 2;
//     background-color: #ffecf2;
//     border-radius: 8px;
//     border: 1px #212731d6 solid;
// }


.ad-modal{
    position: absolute;
    width: 82%;
    height: 22%;
    left: 50%;
    top: 17%;
    padding: 26px;
    font-size: 18px;
    z-index: 2;
    background-color: #ffecf2;
    border-radius: 5px;
    // border: 1px #212731d6 solid;
        .ad-modal-btn{
            outline: none;
            background-color: #273650;
            position: absolute;
            bottom: 0;
            left:0;
            color: white;
            border: none;
            border-radius: 0 5px 0 5px;
            height: 15%;
            width:20%;
        }
        .advertise-content{
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

.ad-modal-in{ 
    animation: slide-in 0.5s normal;
    transform: translate(-50%,-15%); 
}
@keyframes slide-in{
    from{
        transform: translate(-50%,-172%);
    }to{
        transform: translate(-50%,-15%); 
    }
}

.ad-modal-out{ 
    animation: slide-out 0.5s normal;
    transform: translate(-50%,-172%);
}
@keyframes slide-out{
    from{
        transform: translate(-50%,-15%); 
    }to{
        transform: translate(-50%,-172%);
    }
}

.ad-modal-screen{
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        justify-content: center;
        z-index: 1;
}


.modal-screen-admin-contacts{
    transform: translate(-10%,-10%);
}

.ad-modal-in-in-admin-contacts{
    animation: slide-in-admin-contacts 1.5s normal;
    transform: translate(-50%,-30%); 
}

@keyframes slide-in-admin-contacts{
    from{
        transform: translate(-50%, -67%);
    }to{
        transform: translate(-50%,-30%); 
    }
}

.ad-modal-out-in-admin-contacts{
    animation: slide-out-admin-contacts 1.5s normal;
    transform: translate(-50%, -67%);
}

@keyframes slide-out-admin-contacts{
    from{
        transform: translate(-50%,-30%); 
    }to{
        transform: translate(-50%, -67%);
    }
}


