.header-in-block-confermation-modal{
    height: 50px;
    width: 100%;
    background-color: #273650;
    border-radius: 24px 24px 0 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    .block-confirmation-title-in-modal{
      width: 70%;
    }
}


.main-confermation-container{
    height: 100%;
    width: 100%;
    .block-confermation-details{
        text-align: right;
        width: 80%;
        margin-bottom: 90%;
  .table-cell1{
    padding: 20px;
  }
  .table-cell2{
    padding: 20px;
    background: #ffffffc7;
    color: #273650;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  .table-cell3{
    padding: 20px;
    background: #ffffffc7;
    color: #273650;
    border-radius: 5px;
    margin-bottom: 10px;
  }
}
}