.tabs{
    background-color: var(--color1);
    color: white;
    .logo{
        position: absolute;
        left: 20px;
        top: -12px;
        color: white;
    }
	.MuiTabs-indicator{
        background-color: white;
    }
}