.admin-contacts{
    width: 100%;
    .admin-contacts-modal-title{
        font-size: 15px;
        text-align: center;
        margin-top: 16px;
        color:#3f567f;
    }

    .search-input-wrapper{
        width: 100%;
        height: 50px;
        background-color: #273650;
        border: none;
        border-bottom: 1px solid #17171f6e;
        padding-right:6%;
        padding-left:6%;
        .logo{
            color:white;
            height: 60%;
        }
    }

    .contacts-users-container-warpper{
        height: 100%;
        width: 100%;
        margin-top: 8px;
    }
    .contacts-main-container{
        width: 100%;
        height: 100%;
    }
    .contacts-users-container{
        width: 88%;
        height: 78vh;
        margin: 0 auto;
        overflow-x: hidden;
        overflow-y: scroll;
    .user-container{
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        // .check-mark-container{
        //   width: 10%;
        //   height: 100%;
        // }
        height: 60px;
        font-size: 16px;
        background-color: white;
        // border-bottom: 1px solid #27365085;
        // box-shadow: 0 1px 3px rgba(0,0,0,0.12);
        margin-top: 8px;
          .user-attr{
        color: #3f567f;
       }
       padding: 20px;
       padding-left: 0;
       .user-name{
         width: 50%;
         text-align: right;
       }
       .user-icons-container{
             color: #3f567f;
            width: 50%;
            font-size: 20px;
            text-align: center;
            align-items: center;
            .user-whatsapp{
                width: 33%;
                font-size: 20px;
                }
            .user-phone{
                width: 33%;
                font-size: 16px;
                }
            .user-que{
                width: 34%;
                font-size: 18px;
            }
       }
   
    
    }
    .user-clicked{
        background-color:  #eae9e9;
      }
    }
    .search-input-admin-contacts{
       width: 68%;
       height: 70%;
       outline: none;
       font-size: 16px;
       color: white;
       background-color: unset;
       border: none;
       border-bottom: white 1px solid;
         &::placeholder{
         color:rgba(255, 255, 255, 0.616);
       }
    }
    
    .user-container-wrapper{
      background-color:white;
    }
    
    .fa-check{
        font-size: 13px;
    }
    .fa-search{
        width: 15%;
        color: white;
        font-size: 16px;
    }
    
}

.apointments-modal{
    position: absolute;
    width: 80%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: #ffecf2;
    border-radius: 24px;
    .header-admin-contacts-modal{
        position: absolute;
        height: 50px;
        width: 100%;
        background-color: #273650;
        border-radius: 24px 24px 0 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

}

.modal-screen{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    z-index: 1;
}