.submit-form{
    width: 100%;
    margin-top: 6rem;
    .reset-btn{
        border-radius: 5px;
        border: none;
        padding: 10px;
        padding-left: 13px;
        padding-right: 13px;
        font-size: 0.9rem;
        color: white;
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
        background-color: transparent;
    }
   
    .user-details{
        margin-bottom: 1rem;
        position: absolute;
        right: 0;
        top: 110px;
        color: grey;
        padding: 35px;
        font-size: 14px; 
    }
    .user-details-in-modal{
        top: 55px; 
        text-align: right; 
    }
    .appointment-details{
        width: 100%;
        text-align: right;
        color: #182c4e;
        margin-top: 5rem;
        background-color: #d8d8d80d;
        border: 0.2px solid white;
        border-radius: 5px;
        .table-cell{
            border-bottom: 0.2px solid white;
            padding: 20px;
            padding-right: 35px;
            padding-left: 35px;
        }
        .last-cell{
            padding: 20px;
            padding-right: 35px;
            padding-left: 35px;
            }
        }
}

.header-in-form-modal{
    position: absolute;
    top: 0;
    height: 50px;
    width: 100%;
    background-color: #273650;
    border-radius: 24px 24px 0 0;
    color: white;
    font-size: 16px;
}

.main-modal-in-form{
    height: 100%;
    .form-modal-content{
        font-size: 16px;
    }
.title-modal-in-form{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
}
.margin-bottom-5{
    margin-bottom: 5px;
}
}

@media screen and (min-width: 500px) {
    .restart-btn{
        // left: 192PX;
    }
  }