.App {
    display: flex;
    // flex-direction: column;
    align-items: center;
    height: 100%;
}

#root{
    height: 100%;
}

@media (orientation: landscape) {
    .App{
      flex-direction: row;
    }
  }
  
  @media (orientation: portrait) {
    .App {
      flex-direction: column;
    }
  }