
.cancel-appointment{
    .cancel-appointment-wrapper{
        width:100%;
        .appointments-amount-title{
            margin-top: 1rem;
            font-size: 1rem;
        }
        .appointments-amount-title-modal{
            margin-top: 4rem;
        }
    }
    .cancel-apointment-loader{
        margin-top: 100px;
    }
    .motion-div{
        width: 100%;
        height: 100%;
    }
    text-align: center;
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    .cancelation-title-phone{
        margin-bottom: 1rem;
        .cancel-form-title{
            margin-bottom: 1rem;
            color : #172b4d;
        }
    }
  

    .table-wrapper{
        margin-top: 4rem;
          .apointment-details{
            width: 90%;
          
      }
      .apointment-details{
        text-align: right;
        color: #182c4e;
        margin-top: 3rem;
        background-color: #d8d8d80d;
        border-radius: 5px;
        width: 80%;
        margin: 0 auto;
        .table-cell{
            // border-bottom: 0.2px solid white;
            padding: 20px;
            background: #ffffffc7;
            color: var(--color1);
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .last-cell{
            padding: 20px;
            background: #ffffffc7;
            color: var(--color1);
            border-radius: 5px;
            margin-bottom: 10px;
            }
        }
      .no-apointments{
          font-size: 1rem;
          margin-top: 100px;
      }
    }
    i{
        color:white;
        font-size: 1.1rem;
        margin-right:10px;
    }

    .cancel-appointment-btn{
        padding: 12px;
        padding-left: 25px;
        padding-right: 25px;
        width: 50%;
        color: rgb(82, 0, 0);
        background:white;
        border-radius: 7px;
        margin:0 auto;
        .fa-ban{
            color: rgb(82, 0, 0);
        }
    }
}


.arrows-container{
    width: 55%;
    margin: 90px auto;
.arrow{
    font-size: 30px;
    color: #172b4d;
}
.arrow-disabled{
    font-size: 30px;
    color:  #384d7288;
}
}



    .cancel-appointment-btns-container{
        width: 100%;
        position:fixed;
        bottom: 0;
        height: 50px;
    
    .nav-btn-wrapper{
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .nav-btn{
        width: 100%;
        height: 100%;
        border: none;
        background-color: var(--color1);
        color: rgb(173, 173, 173);
    }

    .nav-btn-right{
        border-radius: 0 0 24px 0;
    }
    .nav-btn-left{
        border-radius: 0 0 0 24px;
    }


button{
    outline: none;
}
button[disabled]{
    font-size: 14px;
    z-index: -1;
        .fa-arrow-circle-right:before {
            color: #929292;
        }
        .fa-arrow-circle-left:before {
            color: #929292;
        }
    }

    }


@media screen and (max-width: 500px) {
    .treatment-list {
        // width: 390px;
    }
  }



//   I phone 5
@media screen and (max-height: 570px) {
    .arrows-container{
        margin: 40px auto;
    }
    .cancel-appointment{
        .cancel-appointment-btn {
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 5%;
    }
    }
}

//   I phone 6-8 
@media screen and (max-height: 670px) and (min-height: 570px){
    .cancel-appointment{
        .cancel-appointment-btn {
            margin-top: 20%;
    } 
  }
}
//   I phone 6-8 plus 
@media screen and (max-height: 810px) and (min-height: 730px){
    .cancel-appointment{
        .cancel-appointment-btn{
            margin-top: 30%;
        }
    }
  }

//   I phone x
@media screen and (min-height: 810px) {
    .cancel-appointment{
        .cancel-appointment-btn{
            margin-top: 55%;
        }
    }
  }

  //   Ipad
@media screen and (min-height: 1000px) {
    .cancel-appointment{
        .cancel-appointment-btn{
            margin-top: 55%;
        }
    }
  }
