
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
#profile-title{
    font-family: "Bad Script", cursive;
}

.home-page{
    background-color:#273650ed;
    width: 100%;
    height: 100%;
    a{
        text-decoration: none;
    }
    .queue-container{
        i{
            font-size:25px ;
        }
    }
    
.remove-queue-container{
    i{
        font-size:25px ;
    }
}

.phone{
        i{
            font-size:27px ;
        }
    }
}

.icons-container{
    text-align: center;
    color: #ffe3ee;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    a{
        color: #ffe3ee;
    }
}



.cover-photo{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.circle{
    margin-bottom: 10px;
    background-color:#ffe7ef;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#1d293f;
    width: 60px;
    height: 60px;
    i{
        font-size: 30px;
    }
}

.top-icons-container{
    padding: 20px;
    width: 100%;
}


.bottom-icons-container{
    padding: 20px;
    width: 100%;
}

.facebook-container{
    text-align: center;
}
.instagram-container{
    text-align: center;
}
.waze-container{
    text-align: center;
}

.home-page-wrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../styles/img/hex3.png');
    background-position: center;
}




.profile-container{
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    position: absolute;
.profile-img{
    // background-image: url('../../styles/img/logo3.png');
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border: 2px solid #ffe3ee ;
    border-radius: 50%;
    margin-bottom: 10px;
}
    .profile-title{
        font-size: 22px;
        font-family: "Bad Script", cursive;
        color:white;
        font-weight: bold;
     }
    .profile-sub-title{
        color:white;
        font-size: 15px;
    }  
}

.admin-logo,.user-logo{
    font-size: 25px;
    color:#273650ed;
}

.login-container{
   text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
}

  //   I phone 5
  @media screen and (max-height: 570px) {
    .profile-container{
        top: 109px;
    }
    .top-icons-container{
        padding: 0;
        padding-bottom: 10px;
    }
    
    .bottom-icons-container{
        padding: 0;
        padding-bottom: 10px;
    }
}

//   I phone 6-8 
@media screen and (max-height: 670px) and (min-height: 570px){
    .profile-container{
        top: 166px;
    }
  }

//   I phone 6-8 plus
@media screen and (min-height: 730px) {
    .profile-container{
       top: 166px;
    }
  }
//   I phone x

@media screen and (min-height: 810px) {
    .profile-container{
     
    }
  }



  //   Ipad
  @media screen and (min-height: 1000px) {
    .profile-container{
        top: 166px;
     }
  }

