
@import url('https://fonts.googleapis.com/css?family=Bad+Script');
#profile-title{
    font-family: "Bad Script", cursive;
}

.home-page{
    background-color:#273650ed;
    width: 100%;
    height: 100%;
    a{
        text-decoration: none;
    }
    .queue-container{
        i{
            font-size:25px ;
        }
    }
    
.remove-queue-container{
    i{
        font-size:25px ;
    }
}

.phone{
    i{
        font-size:27px ;
    }
}
}


.icons-container{
    text-align: center;
    color: #ffe3ee;
    height: 90%;
    width: 80%;
    margin: 0 auto;
    a{
        color: #ffe3ee;
    }
}



.cover-photo{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.circle{
    margin-bottom: 10px;
    background-color:#ffe3ee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:#1d293f;
    width: 60px;
    height: 60px;
    i{
        font-size: 30px;
    }
}




.top-icons-container{
    padding: 20px;
    width: 100%;
}

.bottom-icons-container{
    padding: 20px;
    width: 100%;
}

.facebook-container{
    text-align: center;
}
.instagram-container{
    text-align: center;
}
.waze-container{
    text-align: center;
}

.home-page-wrapper{
    width: 100%;
    height: 100%;
    background-image: url('../../styles/img/hex3.png');
    background-position: center;
}




.profile-container{
    text-align: center;
.profile-img{
    background-image: url('../../styles/img/logo3.png');
    background-size: cover;
    background-position: center;
    width: 160px;
    height: 160px;
    border: 2px solid #ffe3ee ;
    border-radius: 50%;
    margin-bottom: 10px;
}
    position: absolute;
    top: 132px;
    left: 132px;
    .profile-title{
        font-size: 22px;
        font-family: "Bad Script", cursive;
        color:white;
        font-weight: bold;
     }
    .profile-sub-title{
        color:white;
    }  
}





@media screen and (min-height: 810px) {
    .profile-container{
        left:110px;
    }
  }




  @media screen and (max-height: 570px) {
    .profile-container{
        top: 109px;
        left: 86px;
    }
    .top-icons-container{
        padding: 0;
        padding-bottom: 10px;
    }
    
    .bottom-icons-container{
        padding: 0;
        padding-bottom: 10px;
    }
}




//   I phone 6-8 
@media screen and (max-height: 670px) and (min-height: 570px){
    .profile-container{
        left: 109px;
    }
  }